<div class="d-flex">
  <!-- Sidebar -->
  <div id="sidebar" class="flex-shrink-0 p-3 border-end vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <i class="bi bi-bootstrap fs-3 me-2"></i>
      <span class="fs-5 fw-semibold">Sidebar of Essays</span>
    </a>

    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Your Workspace
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/write" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Start Writing</a></li>
            <li><a href="/mablogs" class="link-body-emphasis d-inline-flex text-decoration-none rounded">View your blogs</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>  
</div>

<script>
  const toggleBtn = document.getElementById('toggleSidebarBtn');
  const sidebar = document.getElementById('sidebar');

  toggleBtn.addEventListener('click', () => {
    sidebar.classList.toggle('d-none');
  });
</script>
